{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">상환내역 상세</h5>
    <form method="get" class="my-3">
        <div class="mb-3">
            <label for="category">카테고리</label>
            <input type="text" class="form-control" name="category" id="category" value="{{ repayment.category }}" readonly>
        </div>
        <div class="mb-3">
            <label for="amount">상환금액(만원)</label>
            <input type="text" class="form-control" name="amount" id="amount" value="{{ repayment.amount|number_format_simple }}" readonly>
        </div>
        <div class="mb-3">
            <label for="created_at">상환날짜</label>
            <input type="date" class="form-control" name="created_at" id="created_at" value="{{ repayment.created_at|datetime }}" readonly>
        </div>
        <div class="mb-3">
            <label for="remark">비고</label>
            <input type="text" class="form-control" name="remark" id="remark" value="{{ repayment.remark }}" readonly>
        </div>
    </form>
    <div class="my-3">
        <a href="{{ url_for('repayment.modify', repayment_id=repayment.id) }}" class="btn btn-sm btn-outline-secondary">수정</a>    
        <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary" data-uri="{{ url_for('repayment.delete', repayment_id=repayment.id) }}">삭제</a></div>
    <a href="{{ url_for('repayment._list') }}" class="btn btn-primary">전체목록</a>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}