{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>카테고리</th>
            <th>상환금액(만원)</th>
            <th>상환날짜</th>
            <th>비고</th>
        </tr>
        </thead>
        <tbody>
        {% if repayment_list %}
        {% for repayment in repayment_list.items %}
        <tr>
            <td>{{ repayment_list.total - ((repayment_list.page-1) * repayment_list.per_page) - loop.index0 }}</td>
            <td>
                <a href="{{ url_for('repayment.detail', repayment_id=repayment.id) }}">{{ repayment.category }}</a>
            </td>
            <td>{{ repayment.amount|number_format_simple }}</td>
            <!-- repayment.created_at을 date 형식으로 추가 -->
            <td>{{ repayment.created_at|datetime }}</td>
            <td>{{ repayment.remark }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">상환 내역이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if repayment_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ repayment_list.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
        </li>
        {% endif %}
        <!-- 페이지번호 -->
        {% for page_num in repayment_list.iter_pages() %}
        {% if page_num %}
        {% if page_num != repayment_list.page %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="javascript:void(0)">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="javascript:void(0)">...</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if repayment_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ repayment_list.next_num }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{{ url_for('repayment.create') }}" class="btn btn-primary">상환내역 추가하기</a>
</div>
{% endblock %}