{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>대출잔액(만원)</th>
            <th>대출잔액(%)</th>
            <th>상환날짜</th>
            <th>카테고리</th>            
        </tr>
        </thead>
        <tbody>
        {% if balance_list %}
        {% for balance in balance_list.items %}
        <tr>
            <td>
                <a href="{{ url_for('balance.detail', balance_id=balance.id) }}">{{ balance_list.total - ((balance_list.page-1) * balance_list.per_page) - loop.index0 }}</a>
            </td>
            <td>{{ balance.balance|number_format_simple }}</td>
            <td>{{ balance.ratio|ratio_to_percent_format}}</td>
            <td>{{ balance.repaid_dt|datetime }}</td>
            <td>{{ balance.category }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">내역이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if balance_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ balance_list.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
        </li>
        {% endif %}
        <!-- 페이지번호 -->
        {% for page_num in balance_list.iter_pages() %}
        {% if page_num %}
        {% if page_num != balance_list.page %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="javascript:void(0)">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="javascript:void(0)">...</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if balance_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ balance_list.next_num }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
{% endblock %}