
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">대출금 잔액 상세</h5>
    <form method="get" class="my-3">
        <div class="mb-3">
            <label for="amount">상환금액(만원)</label>
            <input type="text" class="form-control" name="amount" id="amount" value="{{ balance.repayment.amount }}" readonly>
        </div>
        <div class="mb-3">
            <label for="balance">대출잔액(만원)</label>
            <input type="text" class="form-control" name="balance" id="balance" value="{{ balance.balance|number_format_simple }}" readonly>
        </div>        
        <div class="mb-3">
            <label for="ratio">대출잔액(%)</label>
            <input type="text" class="form-control" name="ratio" id="ratio" value="{{ balance.ratio|ratio_to_percent_format}}" readonly>
        </div>
        <div class="mb-3">
            <label for="repaid_dt">상환날짜</label>
            <input type="date" class="form-control" name="repaid_dt" id="repaid_dt" value="{{ balance.repaid_dt|datetime }}" readonly>
        </div>
        <div class="mb-3">
            <label for="category">카테고리</label>
            <input type="text" class="form-control" name="category" id="category" value="{{ balance.category }}" readonly>
        </div>
    </form>
    <a href="{{ url_for('balance._list') }}" class="btn btn-primary">전체목록</a>
</div>
{% endblock %}